.page-Mobileadd,
  .runner-pagewrapper .page-Mobileadd,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd
{
padding-top:10px; padding-left:10px;
}
.page-Mobileadd .runner-c-fields,
  .runner-pagewrapper .page-Mobileadd .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-c-fields
{
margin-bottom:5px;
}
.page-Mobileadd .runner-c-fields,
  .runner-pagewrapper .page-Mobileadd .runner-c-fields,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-c-fields
{
width:100%;
}
.page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile,
.page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile,
  .runner-pagewrapper .page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile > *
{
white-space: nowrap;
}
.page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile,
.page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile,
  .runner-pagewrapper .page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addheader_mobile, .page-Mobileadd .runner-b-addheader_mobile > *
{
text-align: left;
}
.page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message,
.page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message,
  .runner-pagewrapper .page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message > *
{
white-space: nowrap;
}
.page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message,
.page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message,
  .runner-pagewrapper .page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-message, .page-Mobileadd .runner-b-message > *
{
text-align: left;
}
.page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1,
.page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1 > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1,
  .runner-pagewrapper .page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1 > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1 > *
{
white-space: nowrap;
}
.page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1,
.page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1 > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1,
  .runner-pagewrapper .page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1 > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addfields_mobile1, .page-Mobileadd .runner-b-addfields_mobile1 > *
{
text-align: left;
}
.page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend,
.page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend,
  .runner-pagewrapper .page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend > *
{
white-space: nowrap;
}
.page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend,
.page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend,
  .runner-pagewrapper .page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-legend, .page-Mobileadd .runner-b-legend > *
{
text-align: left;
}
.page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons,
.page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons,
  .runner-pagewrapper .page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons > *
{
white-space: nowrap;
}
.page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons,
.page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons,
  .runner-pagewrapper .page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-addbuttons, .page-Mobileadd .runner-b-addbuttons > *
{
text-align: left;
}
.page-Mobileadd .runner-c-flylist,
  .runner-pagewrapper .page-Mobileadd .runner-c-flylist,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-c-flylist
{
margin-bottom:5px;
}
.page-Mobileadd .runner-c-flylist,
  .runner-pagewrapper .page-Mobileadd .runner-c-flylist,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-c-flylist
{
width:100%;
}
.page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile,
.page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile,
  .runner-pagewrapper .page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile > *
{
white-space: nowrap;
}
.page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile,
.page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile,
  .runner-pagewrapper .page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-flypanel_mobile, .page-Mobileadd .runner-b-flypanel_mobile > *
{
text-align: left;
}
.page-Mobileadd .runner-c-details,
  .runner-pagewrapper .page-Mobileadd .runner-c-details,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-c-details
{
margin-bottom:5px;
}
.page-Mobileadd .runner-c-details,
  .runner-pagewrapper .page-Mobileadd .runner-c-details,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-c-details
{
width:100%;
}
.page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails,
.page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails,
  .runner-pagewrapper .page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails > *
{
white-space: nowrap;
}
.page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails,
.page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails > *,
  .runner-pagewrapper .page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails,
  .runner-pagewrapper .page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails > *,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails,
  .runner-pagewrapper .runner-pagewrapper .page-Mobileadd .runner-b-adddetails, .page-Mobileadd .runner-b-adddetails > *
{
text-align: left;
}
body.page-Mobileadd .runner-toptable
{
width:93%;
}
body.page-Mobileadd .runner-top
{
padding-right: 5px;
}
